.star {
        color: #ffd700;
        margin-right: 5px;
      }
      
       .half-star {
  position: relative;
  display: inline-block;
  width: 12px; /* 별 크기에 따라 조절 */
  overflow: hidden;
}

.half-star::before {
  content: '⭐️'; /* 별 아이콘 */
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* 반개 별을 나타내는 크기 조절 */
  overflow: hidden;
}
.rating {
        display: flex;
        align-items: center;
        
      }